*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}
/*NAAAAAVVVV*/

.content-nav{
    display: flex;
    justify-content: space-between;
}
.nav-1{
    margin-left: 40px;
}

.nav-1 img{
    height:100px;
    transition: transform 0.4s ease;
}

.nav-1 img:hover{
    transform: scale(1.1);
}
.navbar{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 0 auto;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 40px;
}

.nav-links a {
    color: white;
    font-family: poppins;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 2px;
}
.logos{
    margin: 40px;
    padding-right:40px ;
}
/*MAIIIIIIIIIIIIN ABOUT MEEE*/

.foto1{
    margin-left: 150px;
    margin-top: 100px;
    height: 500px;
    background-color: black;
    box-shadow: -80px -60px 0 #000000; 
    transform: translateY(100%);
    animation: cortinaAnimacion 2s forwards;
}

@keyframes cortinaAnimacion {
    to {
        transform: translateY(0);
    }
}


/*LA MAMIII (son las 12:14 y tengo sueño no se me ocurre que mas poner :))*/
.container-madre{
    display: flex;
}
/*ASIDEEEEEEE*/

.title{
    margin-top: 50px;
    font-family: poppins;
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
    display: flex;
    justify-content: center;
    font-size: 35px;
    transition: transform 0.4s ease;
}

.title:hover{
    transform: translateY(-5px);
}

.texto1{
    margin-top: 150px;
    margin-left: 100px;
    padding: 33px;
    font-family: poppins;
    border: 2px solid #ffcc00;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px ;
    background-color: #fff;

}

.texto1 h2{
    font-size: 40px;
}
.texto1 p{
    padding-top: 20px;
}

.spane{
    color: #ffcc00;
    font-weight: 700;
    text-decoration: none;
}

/*the papi*/

.container-padre{
    display: flex;
}

/*sigale*/

.texto2{
    margin: 50px;
    padding: 33px;
    font-family: poppins;
    border: 2px solid #ffcc00;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px ;
    background-color: #fff;
}

.texto2 h2{
    font-size: 40px;
}
.texto2 p{
    padding-top: 20px;
}


.img2s{
    margin-top: 100px;
    margin-left: 20px;
    height: 400px;
    background-color: black;
    box-shadow: 80px -60px 0 #ffcc00; 
    transform: translateY(100%);
    animation: cortinaAnimacion 2s forwards;
}

@keyframes cortinaAnimacion {
    to {
        transform: translateY(0);
    }
}

/*FOOOTERERERERER*/

footer{
    background-color: rgb(230, 230, 230);
    width: 0 auto;
    height: 400px;
}

/*VIENE EL PADREEE*/
.container-Padre{
    display: flex;

}

/*Adeus mi gente*/

.resume{
    padding-top: 100px;
    margin-left: 200px;
    font-family: poppins;
}
.resume h3{
    font-weight: 300;
}


.info{
    padding-top: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;

}
.info a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: poppins;
    transition: transform 0.3s ease;
}
.info a:hover{
    transform: translateY(-5px);
}

.contactop{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    font-family: poppins;
    transition: transform 0.4s ease;
}
.contactop:hover{
    transform: scale(1.1);
}

.secciones{
    padding-top: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}
.secciones a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: poppins;
    transition: transform 0.3s ease;
}
.secciones a:hover{
    transform: translateY(-5px);
}

.seccions{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    font-family: poppins;
    transition: transform 0.4s ease;
}
.seccions:hover{
    transform: scale(1.1);
}

/*Derechos q no tengo AJSDASJDA*/

.texto{
    background-color: #000;
    color: #fff;
    font-family: poppins;
    margin-top: 20px;
    width: 0 auto;
    height: 80px;
}
.texto h3{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}


/*detallitos*/
.wasape{
    transition: transform 0.4s ease;
}
.wasape:hover{
    transform: scale(1.3);
}
.igpe{
    transition: transform 0.4s ease;
}
.igpe:hover{
    transform: scale(1.3);
}
.empe{
    transition: transform 0.4s ease;
}
.empe:hover{
    transform: scale(1.3);
}
.dispe{
    transition: transform 0.4s ease;
}
.dispe:hover{
    transform: scale(1.3);
}